In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
X = np.asarray([18, 7, 6, 12, 13])
y = np.asanyarray([47, 23, 20, 32, 22])

In [10]:
df = pd.DataFrame(
    {
        'X': X,
        'y': y
    }
)

rows = df.shape[0]
cols = df.shape[1]

In [11]:
# First 5 rows of df
df.head()

    X   y
0  18  47
1   7  23
2   6  20
3  12  32
4  13  22

In [12]:
print('Total rows: ', str(rows))
print('Total Cols: ', str(cols))

Total rows:  5
Total Cols:  2

In [13]:
# Calculating Mean of x and y
xmean = np.mean(X)
ymean = np.mean(y)

In [14]:
xy = np.sum(X*y)
xymean = np.mean(X*y)
x2s = X**2
X2smean = np.mean(x2s)
xmean2s = xmean ** 2
beta = (xymean-xmean*ymean)/(X2smean-xmean2s)
alpha = ymean - (beta*xmean)
print(f'Intercept = {alpha}')
print(f'slope = {beta}')

Intercept = 7.037974683544345
slope = 1.9430379746835407